@media screen and (min-width: 640px) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header span{
        padding: 15px 20px;
        font-size: 3.5rem;
    }

    nav{
        display: flex;
        flex-direction: row;
        position: static;
        max-height: none;
        overflow: visible;
        justify-content: space-between;
        flex: 1;
        margin-left: 5rem;
    }

    nav a{
        flex: 1;
        padding: 15px 0;
        text-align: center;
        font-size: 1.7rem;
    }

    h1{
        grid-column: 1/-1;
        margin: 50px auto auto auto;
        font-size: 2rem;
    }

    figure{
        display: flex;
        flex-direction: column;
    }

    figure img{
        margin-top: auto;
    }

    figcaption p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #hamburger{
        display: none;
    }
}